.Cart{
    position: relative;
}

.cart-icon:hover{
    cursor: pointer;
    filter: brightness(50%);
}

.Cart_section{
    position: absolute;
    top: 50px;
    left: -120px;
    background-color: var(--white);
    width: 280px;
    border-radius: 8px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.Cart_header{
    height: 60px;
    border-bottom: solid 1px var(--grayish-blue);
    display: flex;
    align-items: center;
}

.Cart_header_title{
    margin-left: 20px;
    font-size: 1em;
    font-weight: 600;
    color: var(--black);
}

.Cart_content{
    padding: 10px 20px;
    padding-bottom: 70px;
    position: relative;
    height: 100%;
}

.empty-cart{
    text-align: center;
    padding: 50px;
    font-weight: 600;
}
.Cart_item-list{
    margin-bottom: 20px;
}

.Cart_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.Cart_item-thumbnail{
    width: 17%;
    border-radius: 5px;
}
.Cart_item-name{
    font-size: 0.8em;
    font-weight: 500;
}

.Cart_item-price-section{
    display: flex;
    margin-top: 5px;
}

.Cart_item-amount{
    font-weight: 500;
    font-size: 0.8em;
}

.Cart_item-total-price{
    color: var(--black);
    font-weight: 600;
    font-size: 0.8em;
    margin-left: 10px;
}

.Car_delete-icon{
    width: 5%;
    height: 5%;
}
.Car_delete-icon:hover{
    cursor: pointer;
}

.Cart_content button{
    position: absolute;
    bottom: 20px;
    width: 85%;
}