.App{
  background-color: var(--background-color);
}

:root{
  --background-color: #eee;
  --background-element: #ffffff;
  --background-element-hover: #e3e3e3;
  --text-color: #0d0d0d;
}

.dark{
  --background-color: #252e35;
  --background-element: #2e3541;
  --background-element-hover: #292f38;
  --text-color: #eee;
}