.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}

.Header__logo{
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 10px;
}

.Header svg{
    fill: #fff;
}
.Header svg:hover{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .Header{
        margin-top: 40px;
    }

    .Header__logo{
        font-size: 2em;
    }
    .Header svg{
        width: 80%;
    }
}