.TodoSection{
    width: 100%;
    max-height: 550px;
    overflow: scroll;
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--background-color-item);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.todo-empty{
    text-align: center;
    padding: 100px 0px;
    color: var(--color-text-light);
    background-color: rgba(0, 0, 0, 0.05);
}